<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ixian_DLT_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ixian_DLT_GUI.Properties.Settings>
            <setting name="dataDir" serializeAs="String">
                <value />
            </setting>
            <setting name="dltDir" serializeAs="String">
                <value />
            </setting>
            <setting name="wallet" serializeAs="String">
                <value />
            </setting>
            <setting name="testnet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="worker" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="webstart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autorun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dltpass" serializeAs="String">
                <value />
            </setting>
            <setting name="exIp" serializeAs="String">
                <value />
            </setting>
            <setting name="loIp" serializeAs="String">
                <value />
            </setting>
            <setting name="dltPort" serializeAs="String">
                <value />
            </setting>
            <setting name="apiPort" serializeAs="String">
                <value />
            </setting>
            <setting name="allowedIp" serializeAs="String">
                <value />
            </setting>
            <setting name="apiLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="apiPasswd" serializeAs="String">
                <value />
            </setting>
            <setting name="botApi" serializeAs="String">
                <value />
            </setting>
            <setting name="chatID" serializeAs="String">
                <value />
            </setting>
            <setting name="loglevel" serializeAs="String">
                <value />
            </setting>
            <setting name="showConsole" serializeAs="String">
                <value>False</value>
            </setting>
        </Ixian_DLT_GUI.Properties.Settings>
    </userSettings>
</configuration>